.App {
  text-align: center;
  height: 100%;
  display: grid;
  background: black;
}

.App > img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.App > .control {
  position: absolute;
  width: 100%;
  height: 100%;
}

.App > .control > div {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
}

/* .App > .control > div > i:hover {
  opacity: 1;
} */

.App > .control > .left {
  float: left;
}

.App > .control > .next {
  right: 0;
}

.App > .control > .next > i {
  border-radius: 10px 0 0 10px !important;
}

.App > .control > div > i {
  background: rgba(255,255,255,0.5);
  margin: auto;
  height: 150px;
  width: 30px;
  padding-top: 65px;
  border-radius: 0 10px 10px 0;

  /* opacity: 0; */
}

.App > .control > .play-switch {
  height: auto;
  bottom: 20px;
  width: 100%;
}

.App > .control > .play-switch > i{
  color: darksalmon;
  padding: 0;
  height: auto;
  width: auto;
  border-radius: 50%;
  font-size: 40px;
}

img::selection {
  background: unset;
}
