/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~antd/dist/antd.css';

#root {
  height: 100%;
  width: 100%;
}