.tag {
    width: 300px;
    background: black;
    color: #fff;
    padding: 5px;
}

.tag .search-new-input {
    width: 100%;
}

.tag .tag-div {
    text-align: left;
    margin-top: 10px;
}

.tag .tag-div > p {
    text-align: left;
}

.tag .tag-div .tag-content > div {
    margin-bottom: 5px;
}

.ant-tag {
    font-size: 14px!important;
    margin: 5px 3px!important;
    padding: 2px 5px!important;
}
